.institute-content {
    min-height: 100%;
    position: relative;
}

.institute-content .container .row {
    margin-top: 2rem;
}

.institute-content .container .row #fatec-gru .buttons #first-button {
    margin-right: 1rem;
}

.institute-content .container .row #fatec-gru > p {
    margin-top: 2rem;
}

#institute-container {
    padding-bottom:22rem; 
}

#main-footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:22rem;
}