#main-footer .container {
    display: block;
    align-items: center;
    justify-content: center;
}

#main-footer .container img {
    width: 20rem;
    height: 10rem;
}

@media (min-width: 700px) {
    #main-footer .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #main-footer .container img {
        width: 24rem;
        height: 12rem;
    }
}