#main-footer div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-footer div img {
    margin-right: 2rem;
    height: 6rem;
}

#main-footer hr {
    border: 0;
    height: 1px;
    background: white;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

@media (min-width: 768px) {
    #main-footer div img {
        margin-right: 2rem;
        height: 8rem;
    }
}