.news-page {
    min-height: 100%;
    position: relative;
}

#news-id {
    padding-bottom:22rem; 
}

#siteRelease {
    margin-top: 2rem;
}

#siteRelease .images {
    display: flex;
    align-items: center;
    justify-content: center;
}

#siteRelease img {
    height: 20rem;
    width: 35rem;
    border-radius: 0.8rem;
    border: 1px solid black;
    margin: 0 0.5rem;
}

#main-footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:22rem;
}